.navbar-nav .navbar-link{
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-item{
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar .nav-item:hover{
  border-bottom: 2px solid yellow;
}